body {
  background: url(/images/backgroundweb.jpg) no-repeat center center fixed;
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 100rem;
  display: grid;
  grid-template-rows: 2fr 3fr 2fr;
}

header {
  display: grid;
}

header nav {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  font-size: 1.2rem;
  text-align: center;
  z-index: 1;
  margin: 0 1rem;
}

header nav a {
  text-decoration: none;
  color: black;
  border-radius: 2rem;
  padding: 10px;
}

header nav a:hover {
  box-shadow: inset 1px 4px 3px rgba(0, 0, 0, 0.1);
}

header nav a:active {
  box-shadow: inset 1px 1rem 3px rgba(0, 0, 0, 0.4);
}

header h1 {
  font-weight: 100;
  position: fixed;
  background: linear-gradient(to right, #9fb8ea, rgba(255, 255, 255, 0.8));
  box-shadow: 9px 7px 26px black;
  width: 100%;
  margin: 0;
  text-align: center;
  z-index: 0;
}

main {
/*  background: rgba(0, 0, 0, 0.53);*/
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 10px 10px 3px rgba(0, 0, 0, 0.54);
  margin: 0;
  height: 30rem;
}

main article {
  margin: 2rem;
}

main article h2 {
  border-bottom: 1px solid black;
}